@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
    --cor1: chartreuse;
    --fontP: Arial, Helvetica, sans-serif;
    --font1: "Oswald", serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html{
    height: 100vh;
    background: gray url(../img/background.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 5px;
}
header > h1 {
    text-align: center;
    padding-bottom: 10px;
    color: chartreuse;
    font-family: var(--font1);
}

i#burguer{
    background-color: gray;
    display: block;
    text-align: center;
    font-size: 2em;
    margin-bottom: 5px;
    border-radius: 10px;
    color: var(--cor1);
}
menu{
    display: none;
    text-align: center;
}
menu > ul > li{
    margin-bottom: 5px;
    list-style-type: none;
}
menu > ul > li > a{
    margin-left: 40px;
    text-decoration: none;
    display: block;
    color: var(--cor1);
    font-size: 1.5em;
    border-top: 2px solid var(--cor1);
    font-family: var(--font1);
}
menu > ul > li > a:hover{
    background-color: gray;
}
main{
    padding: 5px;
    width: 90vw;
    border-radius:  10px;
    background-color: rgb(87, 87, 87);
    margin: auto;
    border: 2px solid var(--cor1);
}
main h2{
    text-align: center;
    border-bottom: 2px solid var(--cor1);
    color: var(--cor1);
    font-family: var(--font1);
}
main p{
    text-align: justify;
    padding: 20px;
    text-indent: 20px;
    font-size: 1.5em;
    margin-bottom: 15px;
    color: var(--cor1);
}
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 10px;
    text-align: center;
    height: 35px;
}
footer p{
    padding-top: 10px;
}